{% extends 'base.html'%}
{% load custom_filter %}
{% block content %}

<div class="container">
  <div class="p-4 m-4">
    <div class="col-lg-10 mx-auto border rounded pt-4 ps-2 pe-2 pb-3">
      <ul class="list-group">
        {% for transaction in data %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <!-- from -->
            <div class="col">
            <img class="rounded-circle " src="{{transaction.from_user.image.url}}" alt="" width="100" height="100">
            <p class="font-weight-normal text-lg-left">{{transaction.from_user.first_name}} {{transaction.from_user.last_name}}</p>
            </div>
            <div class="col">
                <p class="alert-danger font-weight-bold text-lg-left">will pay</p>
            </div>
            <div class="col">
                <p class="font-weight-bold text-lg-left">{{transaction.amount|currency}}</p>
            </div>
            <div class="col">
                <p class="font-weight-bold text-lg-left">To</p>
            </div>
            <!-- to -->
            <div class="col">
                <img class="rounded-circle" src="{{transaction.to_user.image.url}}" alt="" width="100" height="100">
                <p class="font-weight-normal text-lg-left">{{transaction.to_user.first_name}} {{transaction.to_user.last_name}}</p>
                </div>
        </li>
        {% endfor %}
    </ul>
  </div>
</div>
</div>

{% endblock %}